body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flow-root;
}

.box {
	width: 100px;
	height: 100px;
	background-color: salmon;
	border-radius: 20px;
	margin: 20px;
}

#box1 {
	float: right;
}

#box2 {
	float: left;
}
