/* || RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

body {
	background-color: #f0f2f5;
	color: #5f5f5f;
}

a {
	text-decoration: none;
	color: #5f5f5f;
}

/* ----------------- NAVBAR START -----------------  */

/* || NAVBAR */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #fff;
	padding: 6px 6%;
	position: sticky;
	top: 0;
	z-index: 100;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* -- Navbar logo */
.logo img {
	width: 30px;
	margin-right: 15px;
	display: block;
}

/* -- Navbar Center  */
.nav-center ul li {
	display: inline-block;
	list-style: none;
}

/* -- Nav Center Links */
.nav-center ul li a {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 5px 8px;
	padding-right: 5px;
	position: relative;
}

/* -- Nav Center Links Underline */
.nav-center ul li a::after {
	content: "";
	width: 0;
	height: 2px;
	background-color: #045be6;
	position: absolute;
	bottom: -15px;
	transition: width 0.3s;
}

.nav-center ul li a:hover::after,
.nav-center ul li a.active-link::after {
	width: 100%;
}

/* -- Nav Center Link Icons */
.nav-center ul li a img {
	width: 30px;
}

/* -- Navbar Right */
.nav-profile-img {
	width: 40px;
	border-radius: 50%;
	display: block;
	cursor: pointer;
	position: relative;
}

/* -- Navbar Profile Icon */
.online {
	position: relative;
}

/* -- Navbar Profile Icon Online Indicator */
.online::after {
	content: "";
	width: 7px;
	height: 7px;
	border: 2px solid #fff;
	border-radius: 50%;
	top: 0;
	right: 0;
	background-color: #41db5a;

	position: absolute;
}

/* -- Navbar Searchbox */
.search-box {
	background-color: #f0f2f5;
	width: 250px;
	border-radius: 20px;

	display: flex;
	align-items: center;

	padding: 0px 15px;
}

/* -- Navbar Left */
.nav-left {
	display: flex;
	align-items: center;
}

/* -- Searchbox Icon Image */
.search-box img {
	width: 14px;
}

/* -- Searchbox */
.search-box input {
	width: 100%;
	background-color: transparent;
	padding: 8px;
	outline: none;
	border: none;
}

/* ----------------- NAVBAR END -----------------  */

/*  ----------------- MAIN CONTENT PAGE START ----------------- */

/* || MAIN CONTAINER */
.container {
	padding: 20px 6%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* -- Left Sidebar */
.left-sidebar {
	flex-basis: 25%;
	align-self: flex-start;
}

/* -- Left Sidebar Container */
.sidebar-profile-box {
	background-color: #fff;
}

/* -- Left Sidebar Profile Container Card */
.sidebar-profile-info {
	padding: 0 25px;
}
/* -- Left Sidebar Profile Image */
.sidebar-profile-info img {
	width: 90px;
	border-radius: 50%;
	background-color: #fff;
	padding: 4px;
	margin-top: -45px;
}

/* -- Left Sidebar Profile Name */
.sidebar-profile-info h1 {
	font-size: 20px;
	font-weight: 600;
	color: #222;
}

/* -- Left Sidebar Profile Text */
.sidebar-profile-info h3 {
	font-size: 14px;
	font-weight: 500;
	color: #777;
}

/* -- Left Sidebar Profile Links */
.sidebar-profile-info ul {
	list-style: none;
	margin: 20px 0;
}

/* -- Left Sidebar Profile Reach Info */
.sidebar-profile-info ul li {
	width: 100%;
	margin: 5px 0;
	font-size: 13px;
}

/* -- Left Sidebar Profile Reach Numbers */
.sidebar-profile-info ul li span {
	float: right;
	color: #045be6;
}

/* -- Left Sidebar (My Items and Premium) Section */
.sidebar-profile-link {
	display: flex;
	align-items: center;
	border-top: 1px solid #ccc;
}

.sidebar-profile-link a {
	flex-basis: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 15px 0;
	font-size: 13px;
	border-left: 1px solid #ccc;
}

.sidebar-profile-link a:first-child {
	border-left: none;
}

/* -- Left Sidebar (My Items and Premium) Section Icons Image */
.sidebar-profile-link a img {
	width: 20px;
	margin-right: 10px;
}

/* -- Left Sidebar (Recent Activity) Section */
.sidebar-activity {
	background-color: #fff;
	padding: 5px 25px;
	margin: 12px 0;
}

.sidebar-activity h3 {
	color: #777;
	font-size: 14px;
	font-weight: 500;
	margin: 20px 0 10px;
}

.sidebar-activity a {
	display: flex;
	align-items: center;

	font-size: 12px;
	font-weight: 500;
	color: #888;

	margin: 3px 0;
}

.sidebar-activity a img {
	width: 20px;
	margin-right: 10px;
}

.discover-more-link {
	border-top: 1px solid #ccc;
	text-align: center;
	margin: 20px 0 -25px;
}

.discover-more-link a {
	color: #045be6;
	display: inline-block;
	margin: 20px 0;
}

/* -- Right Sidebar */
/* -- Right Sidebar Container */
.right-sidebar {
	flex-basis: 25%;
	align-self: flex-start;
}

/* -- Right Sidebar (Trending News) Section */
.sidebar-news {
	background-color: #fff;
	padding: 10px 25px;
}

/* -- Right Sidebar (Trending News) Info Icon */
.info-icon {
	width: 15px;
	float: right;
	margin-top: 15px;
}

/* -- Right Sidebar Headings */
.sidebar-news h3 {
	font-size: 18px;
	font-weight: 600;
	color: #333;
	margin: 10px 0 30px;
}

/* -- Right Sidebar Text */
.sidebar-news a {
	display: block;
	font-size: 12px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: -5px;
}

/* -- Right Sidebar News (date/day) */
.sidebar-news span {
	font-size: 12px;
}

.sidebar-news .read-more-link {
	color: #045be6;
	font-weight: 500;
	margin: 20px 0 10px;
}

/* -- Right Sidebar (Ad) Section */
.sidebar-ad {
	background-color: #fff;
	padding: 15px 25px;
	text-align: center;
	margin: 12px 0;
	font-size: 12px;
}

/* -- Right Sidebar Ad Images */
.sidebar-ad img {
	width: 60px;
	border-radius: 50%;
	margin: 4px;
}

/* -- Right Sidebar Small Text */
.sidebar-ad small {
	float: right;
	font-weight: 500;
}

/* -- Right Sidebar Paragraph Text */
.sidebar-ad p {
	margin: 30px 0 10px 0;
}

/* -- Right Sidebar Bold Text */
.sidebar-ad b {
	display: block;
	font-weight: 500;
	margin-top: 10px;
}

/* -- Right Sidebar (Learn More) Button */
.ad-link {
	display: inline-block;
	border: 1px solid #045be6;
	border-radius: 30px;
	padding: 5px 15px;
	color: #045be6;
	font-weight: 500;
	margin: 20px auto 10px;
}

/* -- Right Sidebar (Useful Links) Section */
.sidebar-useful-links {
	padding: 15px 25px;
	text-align: center;
}

.sidebar-useful-links a {
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
}

/* -- Right Sidebar (Copyright Message) Section */
.copyright-msg {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 12px;
	margin-top: 10px;
	font-weight: 500;
}

.copyright-msg img {
	width: 18px;
	margin-right: 4px;
}

/* -- Main Content */
.main-content {
	flex-basis: 47%;
	align-self: flex-start;
}

/*  ----------------- MAIN CONTENT PAGE END ----------------- */
