body {
	background-color: rgb(41, 41, 41);
}

#p1 {
	color: orange;
}

#p2 {
	color: rgb(102, 222, 555);
}

#p3 {
	color: #f1ff;
}

#p4 {
	color: rgba(102, 222, 555, 0.3);
}

#p5 {
	color: hsl(202, 80%, 50%);
}
