body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
	text-align: center;

	display: grid;
	grid-template-areas:
		"topbar topbar topbar"
		"ads content sidebar"
		"footer footer footer";
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 100px 200px 100px;
	gap: 50px;

	/* justify-items: center; */
	/* align-items: center; */
}

header {
	grid-area: "topbar";
	background-color: aquamarine;
}

aside {
	grid-area: "ads";
	background-color: violet;
}

article {
	grid-area: "content";
	background-color: yellowgreen;
}

nav {
	grid-area: "sidebar";
	background-color: indianred;
}

footer {
	grid-area: "footer";
	background-color: thistle;
}
