body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#box1 {
	width: 200px;
	height: 200px;
	background-color: blue;

	/* position: relative; */
	/* top: 50px; */
	/* left: -20px; */

	/* position: fixed; */
	/* right: 0; */

	position: sticky;
	top: 0px;
}

#box2 {
	width: 100px;
	height: 100px;
	background-color: red;

	position: absolute;
	top: 20px;
	left: 50px;
}
