body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;

	background-image: url(./img/bg-image.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
