body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
	border: 2px solid black;

	/* height: 300px; */

	/* height: auto; */
	/* width: 200px; */

	width: 50%;
	padding: 25px;
	box-sizing: border-box;
	float: left;

	min-width: 50%;
	min-height: 90%;
}

.container {
	background-color: plum;
	height: 100vh;
}
